<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register</title>
  <link rel="stylesheet" href="../css/style.css">
</head>
<form id="loginForm">
    <table>
      <tr>
        <td>Nickname:</td>
        <td><input type="text" id="loginNickname" name="nickname" placeholder="Enter nickname here" required></td>
      </tr>
      <tr>
        <td>Password:</td>
        <td><input type="password" id="loginPassword" name="password" placeholder="Enter password here" required></td>
      </tr>
      <tr>
        <td colspan="2">
          <button type="submit">Login</button>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <p>Not yet a Member? <a href="register.html">Register</a></p>
        </td>
      </tr>
    </table>
  </form>  
</body>
</html>
