
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #414042;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


nav {
    background-color: #333;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

nav .logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

nav a.active {
    color: #ffd700;
}

nav a:hover {
    color: #f0c000;
}


main {
    flex-grow: 1;
    padding: 20px;
    max-width: 100%;
    margin: auto;
}

.about-text {
    padding: 40px 20px;
    text-align: center;
    background-color: #f9f9f9;
    margin-bottom: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.about-text h1 {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
}

.about-text p {
    font-size: 18px;
    color: #555;
    line-height: 1.6;
}


.developers {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.developers h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 15px;
}

.developers p {
    font-size: 18px;
    color: #555;
    font-style: italic;
}


footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
    width: 100%;
    position: relative;
    bottom: 0;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer-link {
    color: #ffd700;
    text-decoration: none;
    font-weight: bold;
}

#footer-link:hover {
    color: #f0c000;
}


@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul li {
        margin-left: 0;
        margin-top: 10px;
    }

    .about-text, .developers {
        padding: 20px;
        margin-bottom: 20px;
    }

    .about-text h1, .developers h2 {
        font-size: 24px;
    }

    .about-text p, .developers p {
        font-size: 16px;
    }
}